main.advice-page {
	.hero-image {
		span.seth-macfarlane {
			right: -15%;
			transition:all .5s ease-in-out;
		}
	}

	.more-answers {
		padding: 7% 0;

		h3 {
			font-size: 30px;
			line-height: 34px;
		}

		p {
			margin: 0;
		}
	}

	.competitors {
		padding: 7% 0;
		height: 100%;

		.global-container {
			padding: 0 3%;
		}

		p {
			width: 100%;
		}

		.flexslider {
			width: 100%;

			ul.slides {
				li {
					.testimonial {
						padding: 1.5% 2%;
						font-size: 20px;
						line-height: 28px;
						width: 70%;
					}

					&:nth-child(even) {
						.testimonial {
							margin-left: 1.5%;
						}
					}

					&:nth-child(odd) {
						.testimonial {
							//margin-right: 1.5%;
						}
					}
				}
			}
		}
	}

	.video {
		h3 {
			padding: 7% 3%;
		}
	}

	.how-it-works {
		.global-container {
			padding: 7% 0;
			width: 100%;

			.icons-container {
				.col {
					&.deliver-discuss {
						.icon {
							margin: 50px 0 0;
						}
					}
				}
			}

			img {
				width: 98%;
				top: 25%;
				height: auto;
			}
		}
	}

	.for-less-than {
		height: 100%;

		.global-container {
			width: 94%;
			margin: 0 3%;
			padding: 7% 3%;

			p {
				width: 70%;
			}
		}
	}

	.why-questis-advice {
		.global-container {
			width: 95%;
			margin: 0 2.5%;

			ul {
				li {
					width: 48%;
					min-height: 250px;
				}
			}
		}
	}

	.our-experts {
		height: 100%;

		.global-container {
			width: 100%;
			padding: 7% 3%;

			ol {
				&> li {
					width: 100%;

					&.third {
						border-bottom: 1px solid #c0c4c3;
					}

					&.last {
						padding-top: 14px;
					}
				}
			}

			.financial-planner {
				width: 48%;
				margin: 7% 0 0;

				&.john-tabb {
					margin: 7% 4% 0 0;
				}

				img {
					width: 30%;
					height: auto;
				}

				.content {
					width: 70%;
					padding: 5% 3.5%;

					h5, h6 {
						letter-spacing: 3px;
					}
				}
			}
		}
	}

	.faqs-plan-terms {
		height: 100%;
		padding: 7% 0;

		.global-container {
			h3 {
				font-size: 18px;
				letter-spacing: 3px;

				&.faq {
					width: 100%;
				}
			}

			ul {
				border-top: none;
				padding: 7% 0 0;
				margin: 0 0 7% 0;

				li {
					width: 100%;
				}
			}

			small {
				margin: 1% 0 0;
			}
		}
	}

	ul.what-you-get {
		li {
			width: 100%;
			height: auto;
			padding: 3% 0;
			line-height: 28px;
		}
	}

	.sign-me-up-now {
		height: 100%;
		padding: 7% 0;
	}
}