main.invest-page {
	.hero-image {
		.content {
			width: 90%;
			margin: 0 5%;
			left: auto;
		}
	}

	.wrong-way {
		padding: 5% 0 0;
		overflow: hidden;

		p {
			width: 100%;
			font-size: 17px;
		}

		.col-container {
			width: 100%;

			p {
				padding-top: 5%;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		img {
			position: relative;
			left: 48%;
			margin-left: -472px;
		}
	}

	.proven-step {
		height: auto;
		min-height: 0;

		.global-container {
			.content {
				h3 {
					font-size: 28px;
				}
			}
		}

		&.safety-in-numbers {
			padding: 5% 0;
		}

		&.added-dimension {
			padding: 5% 0;
		}

		&.disciplined-actions {
			padding: 5% 0;

			.content {
				padding: 5% 0 0;
				width: 40%;
			}
		}
	}

	.who-are-these-guys {
		.global-container {
			.content {
				width: 60%;
			}

			span.nobel {
				left: 15%;
			}
		}
	}

	.thought-leaders {
		height: auto;

		.global-container {
			padding: 5% 0;

			p {
				font-size: 16px;
				line-height: 26px;
			}

			.flexslider {
				&.leaders-slider {
					padding: 0 3%;
					height: 900px;

					ul.slides {
						width: 75%;
						float: right;

						li {
							padding: 20% 0;
						}
					}

					.flex-control-nav {
						width: 94%;
					}

					li {
						h5 {
							letter-spacing: 4px;
							width: 70%;
							margin: 5% auto;
						}

						.school-content {
							width: 100%;

							.left {
								width: 100%;
								height: auto;

								span.headshot {
									float: none;
									margin: 20px auto;
								}

								.content {
									border: none;
									float: none;
									padding: 0;
									margin: 0 auto;

									h6, p {
										text-align: center;
									}
								}
							}

							.right {
								width: 100%;
								margin: 50px auto;
								padding: 0 5%;

								p {
									text-align: center;
									margin: 0;
								}
							}
						}
					}

					.flex-control-nav {
						li {
							display: block;
							padding: 0 0 20px 0;

							a.flex-active {
								&:after {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.all-about-you {
		p {
			width: 90%;
			margin: 0 5%;
		}
	}

	.invest-process {
		padding: 5% 0 0;
		height: auto;

		.global-container {
			.flex-control-nav {
				&.invest-process-nav {
					li {
						font-size: 13px;
						line-height: 43px;
						width: 24.5%;
					}
				}
			}

			.invest-process-slider {
				ul.slides {
					&> li {
						padding: 5% 0 0;

						.content {
							width: 50%;

							p {
								font-size: 16px;
								line-height: 26px;
							}
						}

						img {
							width: 40%;
							height: auto;
						}

						&.slide-2 {
							ul.slides {
								&> li {
									padding: 5% 0 0;

									&.slide-2-a, &.slide-2-b {
										.content {
											a {
												margin-top: 7%;
											}
										}
									}
								}
							}
						}

						&.slide-3 {
							img {
								margin: 0 5% 0 0;
							}
						}
					}
				}
			}
		}
	}

	.invest-savings {
		.global-container {
			padding: 0 2%;
		}
	}

	.features-benefits {
		.global-container {
			ul {
				li {
					.content {
						h5 {
							font-size: 23px;
						}

						p {
							font-size: 16px;
							line-height: 26px;
						}
					}
				}
			}
		}
	}

	.lets-get-started {
		height: 550px;

		.global-container {
			padding: 0 4%;

			.heading {
				top: 7%;
			}

			.icons-container {
				top: 25%;
				left: 8.5%;

				.section {
					.col {
						&.complete-investor-profile {
							left: -6%;
						}

						&.open-account {
							right: 53.5%;
						}

						&.contact-you {
							right: 67%;
						}

						&.fund-account {
							right: 40.5%;
						}
					}
				}
			}

			img {
				top: 293px;
			}
		}
	}

	@media only screen and (max-width: 950px) {
		.hero-image {
			.content {
				h1 {
					font-size: 48px;
					line-height: 58px;
				}

				p {
					font-size: 19px;
				}
			}
		}
	}
}