body.single {
	article {
		.image-clip {
			img {
				top: -38%;
			}
		}
	}

	.rp4wp-related-posts {
		ul {
			padding: 0 5%;
			transition:all .5s ease-in-out;
			width: auto;

			li {
				&:first-child {
					padding-left: 2.5%;
				}

				&:last-child {
					padding-right: 2.5%;
				}
			}
		}

	}
}